[submodule "BLAKE3"]
	path = BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3
[submodule "wolfssl"]
	path = wolfssl
	url = https://github.com/wolfSSL/wolfssl
[submodule "pcre2"]
	path = pcre2
	url = https://github.com/PCRE2Project/pcre2
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
